<input type="text" [(ngModel)]="searchTitle" placeholder="Enter series">
<button (click)="checkContentExists()">Search series</button>

<!-- Display search result message -->
<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>Not given</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Reality</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: 'Reality'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Fictional</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: 'Fictional'" [contentItem]="contentItem"></app-content-card>
</div>
